@keyframes wave {
	from, to {
		transform: translate(-50%, 0%);
	}

	50% {
		transform: translate(-50%,-25%);
	}

}
html, body {
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    height: 100%;
}

.bubble{
	height: max(300px, 30vw);
	width: max(250px, 30vw);
	background-color: #621360;
	border-radius: 100%;
	position: absolute;
	left: 50%;
	top: 100%;
	animation: wave 2s ease-in-out infinite;
}

#bubble-wrapper{
	height:  100%;
	width:  100%;
	position:  fixed;
	bottom: 0px;
	overflow: hidden;
	pointer-events: none;
}


#mybutton1 {
	color: red;
}

.header{
    position: relative; 
    top: 0; 
    left:0 ; 
    background-color: #621360; 
    width: 100%;
    text-align: center;
    margin-bottom: 3em; 
    color: white;
    margin-top:  0;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}